*.tgz
.vscode/*.log
.git-old
traefik/certificates/**
node_modules
OCR_files
*.log
# Binaries, plugins, libs
*.dll
*.dylib
*.exe
*.exe~
*.so
.password
*.tar
*.tar.gz
*.tar*
*.tar.gz*

# Testing
*.test
*.tmp

# local
.idea
.DS_Store
*.gob

# Environments
**/.env*
!.env.ci
!env.template
!env.e2e
env/
ENV/
env.bak/

# https/tls
tls/
