**/.venv
**/.vscode
**/.pytest_cache
**/.mypy_cache
**/__pycache__
**/.venv*
**/.mypy_cache
**/.git
*.venv
*.mypy_cache
*.git

node_modules
build
.env
.venv*
.mypy_cache
__pycache__
.git
*.venv
*.mypy_cache
*.git
Dockerfile*
