[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
flake8 = "3.9.2"
black = "21.9b0"
isort = "5.9.3"
mypy = "0.910"
pytest = "*"
pytest-asyncio = "*"
pytest-xdist = { extras = ["psutil"], version = "*" }

[packages]
alembic = "*"
email-validator = "*"
fastapi = "*"
pydantic = "*"
sqlalchemy = "*"
uvicorn = "*"
gunicorn = "*"
databases = { extras = ["postgresql"], version = "*" }
pyjwt = "==2.0.1"
passlib = { version = "==1.7.2", extras = ["bcrypt"] }
python-multipart = "*"
httpx = "*"
asgi-lifespan = "*"
loguru = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
precommit = "pre-commit run --all-files"
