alembic
fastapi>=0.75.1
pydantic[email]
sqlalchemy[asyncio]
uvicorn
asyncpg
gunicorn
pyjwt==2.0.1
passlib[bcrypt]==1.7.2
python-multipart
httpx
asgi-lifespan
loguru
sse-starlette
aiohttp
starlette-context
datamodel-code-generator
python-pptx
pymupdf>=1.19.4
clean-text[gpl]
attrs>=21.3.0
python-dateutil>=2.8.0
aiofiles
celery
redis
Jinja2
flower
celery-once
python-redis-cache
python-redis-lock
celery-singleton
