-c requirements.txt
pre-commit
flake8==3.9.2
black==22.1
isort>=5.9.3
mypy>=0.942
autoflake>=1.4
pytest
pytest-asyncio
pytest-xdist[psutil]
pytest-aiohttp
pytest-timeout
pyfakefs
celery-types
pytest-celery
flaky
pydantic-to-typescript
fakeredis[lua]
